{% extends 'base.html' %}
{% block content %}
<h3>Select Affiliation Type</h3>
<form method="POST">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="affiliation_type" value="University" required>
        <label class="form-check-label">University</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="affiliation_type" value="School">
        <label class="form-check-label">School</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="affiliation_type" value="Government">
        <label class="form-check-label">Government</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="affiliation_type" value="Other">
        <label class="form-check-label">Other</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Next</button>
</form>
{% endblock %}
