<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nature Up North</title>
    <!-- Map Configuration -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>


    <!-- END Map Configuration -->

    <style>
        body { font-family: Arial, sans-serif; }

        .tabs {
            display: flex;
            gap: 20px;
            background: #eee;
            padding: 12px;
            border-bottom: 2px solid #ccc;
        }
        .tab {
            padding: 10px 15px;
            cursor: pointer;
        }
        .tab.active {
            border-bottom: 3px solid green;
            font-weight: bold;
        }

        .tab.error {
            border-bottom: 3px solid red !important;
            color: red;
            font-weight: bold;
        }

        .section {
            display: none;
            margin-top: 20px;
        }
        .section.active {
            display: block;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Nature Up North Dorsie Upload</h1>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="color: green;">
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <!-- TABS -->
    <div class="tabs">
        <div class="tab active" data-target="upload">Upload</div>
        <div class="tab" data-target="affiliation">Affiliation</div>
        <div class="tab" data-target="habitat">Habitat</div>
        <div class="tab" data-target="dates">Date</div>
        <div class="tab" data-target="location">Location</div>
        <div class="tab" data-target="submit">Submit</div>
    </div>


    <!-- All tabs appear in one form, one URL -->
    <form action="/submit_all" method="POST" enctype="multipart/form-data">

        <!-- Upload Section -->
        <div id="upload" class="section active">
            <h2>Upload Files</h2>
            <input type="file" name="file" multiple required>

            <br><br>
            <div style="display: flex; gap: 20px; align-items:flex-start;">
                <button type = submit id="saveFiles"> Save Files </button>
                <p id="savefile"></p>
                <span id="checkfile" class="checkmark" style="color:green;"></span>
            </div>
        </div>


        <!-- Affiliation Section -->
        <div id="affiliation" class="section">
            <h2>Affiliation</h2>

            <!-- MAIN AFFILIATION -->
            <div class="mb-3">
                <label class="form-label">Affiliation Type</label>
                <select class="form-select" id="affiliation_type" name="affiliation_type" required>
                    <option value="" disabled selected>Select affiliation</option>
                    <option value="University">University</option>
                    <option value="School">School</option>
                    <option value="Government">Government</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <!-- SUB-AFFILIATION: always enabled (2nd dropdown list) -->
            <div class="mb-3" id="subAffiliationContainer">
                <label class="form-label">Sub-Affiliation</label>
                <input type="text" class="form-control" id="sub_affiliation"
                       name="sub_affiliation" placeholder="Select affiliation first" required>
            </div>

            <br>
            <div style="display: flex; gap: 20px; align-items:flex-start;">
                <button type = submit id="saveAffiliation"> Save Affiliation </button>
                <p id="saveaffil"></p>
                <span id="checkaffil" class="checkmark" style="color:green;"></span>
            </div>
        </div>


        <!-- Habitat Section -->
        <div id="habitat" class="section">
            <h2>Habitat and Urbanization</h2>
            <div class = "form-container" style="display: flex; justify-content:left; align-items:flex-start; gap:20%;">
                <div id="habitat_type" style="margin-left:5%; width:35%">
                <form method ="POST">
                    <!--<h5> Habitat </h5>-->
                    <p> Which of the following terms would characterize the habitat in the location where the camera was placed? (check all that apply) </p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="deciduous forest" required>
                        <label for="habitat">Deciduous Forest</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="mixed forest" required>
                        <label class="form-check-label">Mixed Forest</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="evergreen forest" required>
                        <label class="form-check-label">Evergreen Forest</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="plantation forest" required>
                        <label class="form-check-label">Plantation Forest</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="natural field" required>
                        <label class="form-check-label">Natural Field or Meadow (Old Field)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="agricultural field" required>
                        <label class="form-check-label">Agricultural Field</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="public park/school grounds" required>
                        <label class="form-check-label">Public Park/School Grounds</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="home lawn" required>
                        <label class="form-check-label">Home Lawn</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="garden" required>
                        <label class="form-check-label">Garden</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="wetland edge" required>
                        <label class="form-check-label">Wetland Edge</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="edge between two habitats" required>
                        <label class="form-check-label">Edge Between Two Habitats</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="habitat" value="other" required>
                        <label class="form-check-label">Other</label>
                    </div>
                </form>
                </div>

                <div id="urbanization_type" style="width:35%">
                <form method ="POST">
                    <!--<h5> Urbanization </h5>-->
                    <p> How urbanized is the location where the camera was placed? </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="urbanization" value="urban" required>
                        <label class="form-check-label">Urban</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="urbanization" value="suburban">
                        <label class="form-check-label">Suburban</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="urbanization" value="rural">
                        <label class="form-check-label">Rural</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="urbanization" value="wild">
                        <label class="form-check-label">Wild</label>
                    </div>
                </form>
                </div>
            </div>

            <br>
            <div style="display: flex; gap: 20px; align-items:flex-start;">
                <button type = submit id="saveHabitat"> Save Habitat </button>
                <p id="savehabi"></p>
                <span id="checkhabi" class="checkmark" style="color:green;"></span>
            </div>
        </div>


        <!-- Date Section -->
        <div id="dates" class="section">
            <h2>Deployment Dates</h2>

            <div class="mb-3">
                <label class="form-label">Start of Camera Deployment</label>
                <input type="date" id="start_date" name="start_date" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">End of Camera Deployment</label>
                <input type="date" id="end_date" name="end_date" class="form-control" required>
                <div id="dateError" style="color:red; display:none; margin-top:5px;">
                    ! End date cannot be before start date.
                </div>
            </div>

            <br>
            <div style="display: flex; gap: 20px; align-items:flex-start;">
                <button type = submit id="saveDates"> Save Dates </button>
                <p id="savedate"></p>
                <span id="checkdate" class="checkmark" style="color:green;"></span>
            </div>
        </div>


        <!-- Location Section -->
        <div id="location" class="section">
            <h2> Location </h2>
            <p> Select the location of your camera deployment by clicking on the map </p>
            <div id="map" style="width: 100%; height: 400px"></div>
            <!-- Make sure you put this AFTER Leaflet's CSS -->
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
            </script>
            <p id="latlon" style="margin-top:15px">  </p>
            <br>
            <div style="display: flex; gap: 20px; align-items:flex-start;">
                <button type = submit id="saveLocation"> Save Location </button>
                <p id="saveloc"></p>
                <span id="checkloc" class="checkmark" style="color:green;"></span>
            </div>
            <script>
                const latlon = document.getElementById("latlon")
                var map = L.map('map').setView([44.597, -75.168], 10);

                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>' }).addTo(map);

                var marker = L.marker();
                var lat;
                var lan;

                function onMapClick(e) {
                    // new coordinates not yet saved
                    check= document.getElementById("checkloc")
                    check.textContent = '';
                    save = document.getElementById("saveloc")
                    save.textContent = "not saved";
                    save.style.color = "black";

                    marker.setLatLng(e.latlng);
                    marker.addTo(map);
                    lat = e.latlng.lat;
                    lan = e.latlng.lng;
                    latlon.textContent = 'Latitude: ' + e.latlng.lat.toString() + ' Longitude: ' + e.latlng.lng.toString();
                    }

                var button = document.getElementById('saveLocation');

                function saveLocation() {
                    // show green check and "saved"
                    check= document.getElementById("checkloc")
                    check.textContent = '✓';
                    save = document.getElementById("saveloc")
                    save.textContent = "saved";
                    save.style.color = "green";

                    // Using Fetch API
                    fetch('/save_coordinates', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ latitude: lat, longitude: lan})
                    })
                        .then(response => response.json())
                        .then(data => console.log(data))
                        .catch(error => console.error('Error:', error));
                }

                map.on('click', onMapClick);
                button.addEventListener('click', saveLocation);

                // Example using a hidden form and submitting via GET
                // This would typically be inside a popup or a dedicated form
                var formUrl = `/save_coordinates?latitude=${lat}&longitude=${lng}`;
                // You could then redirect or use this URL in an anchor tag
                // For a POST request, you'd need a form element and submit it
            </script>
        </div>

        <!-- Submit Section -->
        <div id="submit" class="section">
            <h2> Comments and Submission </h2>
            <p>Is there anything else you'd like to share about this submission?:</p>
            <label for="comment"></label>
            <textarea id="comment" name="comment" rows="5" cols="40"></textarea>
            <br><br>
            <button type="submit" id="submitAll">Submit All</button>
        </div>
    </form>
</div>


<!-- TAB SWITCHING -->
<script>
    document.querySelectorAll(".tab").forEach(tab => {
        tab.addEventListener("click", () => {

            document.querySelectorAll(".tab").forEach(t => t.classList.remove("active"));
            tab.classList.add("active");

            document.querySelectorAll(".section").forEach(sec => sec.classList.remove("active"));
            document.getElementById(tab.dataset.target).classList.add("active");
            map.invalidateSize() //necessary to ensure map tiles show up properly on location tab
        });
    });
</script>


<!-- SUBMIT VALIDATION -->
<script>
document.getElementById("submitAll").addEventListener("click", function (event) {
    event.preventDefault();

    const tabs = document.querySelectorAll(".tab");
    const sections = document.querySelectorAll(".section");

    let firstInvalidTab = null;
    let formIsValid = true;

    tabs.forEach(tab => tab.classList.remove("error"));

    sections.forEach(section => {
        const requiredFields = section.querySelectorAll("[required]");
        let sectionValid = true;

        requiredFields.forEach(field => {
            if (!field.value) {
                sectionValid = false;
                formIsValid = false;
            }
        });

        if (!sectionValid) {
            const tab = document.querySelector(`.tab[data-target="${section.id}"]`);
            tab.classList.add("error");

            if (!firstInvalidTab) firstInvalidTab = tab;
        }
    });

    if (!formIsValid) {
        firstInvalidTab.click();
        return;
    }

    event.target.closest("form").submit();
});
</script>


<!-- AFFILIATION DROPDOWN -->
<script>
document.addEventListener("DOMContentLoaded", function () {

// start of progress bar implementation
// Intercept the form submission
/*
document.getElementById('upload-form').addEventListener('submit', function(e) {
e.preventDefault(); // Stop the normal page reload

    const options = {
        "University": ["St. Lawrence", "Clarkson", "SUNY Canton"],
        "School": [
            "Canton Central",
            "Colton-Pierrepont Central School",
            "Little River Community School",
            "Massena Central School"
        ]
    };

    affiliationSelect.addEventListener("change", function () {
        const selected = this.value;

        if (options[selected]) {
            subContainer.innerHTML = `
                <label class="form-label">Sub-Affiliation</label>
                <select class="form-select" id="sub_affiliation" name="sub_affiliation" required>
                    <option value="" disabled selected>Select sub-affiliation</option>
                </select>
            `;

            const sel = document.getElementById("sub_affiliation");

            options[selected].forEach(opt => {
                const o = document.createElement("option");
                o.value = opt;
                o.textContent = opt;
                sel.appendChild(o);
            });
        }
        else {
            subContainer.innerHTML = `
                <label class="form-label">Sub-Affiliation</label>
                <input type="text" class="form-control" id="sub_affiliation"
                       name="sub_affiliation" placeholder="Enter affiliation name" required>
            `;
        }
    });

});
</script>


<!-- HABITAT DROPDOWN -->
<script>
const mainHabitat = document.getElementById("mainHabitat");
const subHabitatSelect = document.getElementById("subHabitat");

const subHabitats = [
    "Deciduous Forest",
    "Mixed Forest",
    "Evergreen Forest",
    "Plantation Forest",
    "Natural Field or Meadow (Old Field)",
    "Agricultural Field",
    "Public Park/School Grounds",
    "Home Lawn",
    "Garden",
    "Wetland Edge",
    "Edge Between Two Habitats",
    "Other"
];

mainHabitat.addEventListener("change", function () {

    subHabitatSelect.innerHTML = "";

    const defaultOpt = document.createElement("option");
    defaultOpt.value = "";
    defaultOpt.textContent = "Select sub-habitat";
    defaultOpt.disabled = true;
    defaultOpt.selected = true;
    subHabitatSelect.appendChild(defaultOpt);

    subHabitats.forEach(hab => {
        const o = document.createElement("option");
        o.value = hab;
        o.textContent = hab;
        subHabitatSelect.appendChild(o);
    });
});
// end of progress bar implementation
*/
</script>

</body>
</html>
